<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>節電秘笈</title>
        <link rel="stylesheet" href="./style/main.css" />
    </head>
    <body>
        <div class="containter">
            <div id="start" class="card">
                <div class="inner">
                    <h1 class="s_logo">節電<span>秘笈</span></h1>
                    <div class="app app_beginng">
                        <div class="app-start">
                            <img src="./img/title.png" alt="">
                        </div>
                        <div class="app-start__controls">
                            <div class="btn-box">
                                <button class="start app__controls__btn app__controls__btn-prime">
                                    取得秘笈 <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <h3 class="copy">版權所有 &copy; 2024 財團法人資訊工業策進會</h3>
                </div>
            </div>
            
            <div id="content" class="card none">
                <div class="inner">
                    <h1 class="logo">節電<span>問卷</span></h1>
                    <div class="app">
                        <form class="app-v"></form>
                        <div class="app__controls">
                            <div class="btn-box">
                                <button class="app__controls__btn back">
                                    <!-- <i class="fas fa-arrow-left"></i> Back -->
                                </button>

                                <button class="app__controls__btn app__controls__btn-prime next">
                                    下一步 <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                            <div class="app__controls__progress"></div>
                        </div>
                    </div>
                    <h3 class="copy">版權所有 &copy; 2024 財團法人資訊工業策進會</h3>
                </div>
            </div>
        </div>
        <script src="./js/main.js"></script>
    </body>
</html>
