@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../fonts/MyriadPro-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe UI.ttf') format('opentype');
}
