$--txt-white: #fff;
$--box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$--color-primary: #21a1a0;
$--txt-black: #3b3b3b;
$--text-gray-dark: #979797;
$--color-primary-1: #4bd0ce;
$--box-shadow-h: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$--gray-body: #e6e6e6;
$--txt-gray: #c1c1c1;


// base color
$bg_color: #129797;
$bg_color_top: #21a1a0;
$bg_color_bottom: #4bd0ce;
$menu_color_1: #fffbf97b;
$menu_color_2: #9f9f9f;
$table_color: #fafafa;
$scroll_bar: #e3e3e3;
$iii_color: #365899;
$iii_color_2: #386ac7;
$iii_name: #173265;
$text: #4a4c51;
$black: #262626;
$line: #e7eaed;
$normal: #39b54a;
$normal2: #abffb6;
$failed: #ff0000;
$failed2: #ffc5c5;
$na: #a5a5a5;
$na2: #d6d6d6;

$primary-color: #feebe1;
$secondary-color: #fffbf9;
$third-color: #f8f8f8;
$blue-light: #9193b4;
$blue-dark: #20234d;
$white: #fff;
$green: #20a2a0;
$danger: #fc3a3a;
$dangerborder: #ffbfbf;
$warning: #ff9d0b;
$warningborder: #ffe1bc;
$safe: #17d573;
$safeborder: #bbff87;
$light-green: #e9f6f6;

$btn-main-color: #21a1a0;
$btn-main-color-hover: #26bbbb;
$btn-cancel-color: rgba(#21a1a0, 0.1);
$btn-cancel-color-hover: rgba(#21a1a0, 0.2);
$btn-disable: #f5f7fa;

$header-height: 6.25rem;
$footer-height: 4.25rem;

$header-height-rwd: 3.125rem;
$footer-height-rwd: 8rem;

$el-input-height: 50px;

// 限縮網頁內容
$basic-padding: 2rem;
