@import 'assets/scss/_variables';

.nextCard {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 85%;
    @media screen and (max-width: 510px) {
        width: 100%;
    } /* iphone */
    .app-v {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: auto;

        .question,
        .msg {
            color: $--txt-black;
            margin-top: 2.5rem;
            display: block;
        }

        .msg {
            text-align: center;
            height: 32px;
        }

        [type='text'],
        [type='date'],
        [type='email'] {
            border: none;
            border-bottom: 5px solid $--text-gray-dark;
            // background: transparent;
            // margin: 1rem 0;
            margin-bottom: 3rem;
            width: 100%;
            font-size: inherit;
            font-family: inherit;
            color: $--txt-black;
        }
        [type='text']:focus,
        [type='date']:focus,
        [type='email']:focus {
            border-bottom: 5px solid $iii_color_2;
        }

        [type='date'] {
            width: auto;
        }

        .radio {
            display: flex;
            align-items: center;
            position: relative;
        }

        .result {
            width: 100%;
            padding: 0rem 2rem 0rem 4rem;
            color: $--txt-black !important;
        }
    }

    .app__controls {
        justify-self: flex-end;
        .btn-box {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 1rem;
            .step_num {
                margin-bottom: -6px;
            }
            .app__controls__btn {
                cursor: pointer;
                background: none;
                border: none;
                // font-size: 1.6rem;
                padding: 1.7rem 2.2rem;

                border-radius: 8px;
                color: $--text-gray-dark;
                transition: all 0.2s;
            }
            .app__controls__btn:hover,
            .app__controls__btn:active {
                color: $--txt-black;
            }
            .app__controls__btn-prime {
                background-color: $iii_color_2;
                // margin-left: auto;
                color: $--txt-white;
                box-shadow: $--box-shadow;
                padding: 0.8rem 1rem;
            }
            .app__controls__btn-prime:hover {
                box-shadow: $--box-shadow;
                background-color: $iii_color_2;
                color: $--txt-white;
            }
            .app__controls__btn-prime:active {
                box-shadow: $--box-shadow-h;
                background-color: $iii_color_2;
                color: $--txt-white;
            }
        }
        .disabled {
            .app__controls__btn {
                cursor: no-drop;
                pointer-events: none;
                background: $--text-gray-dark;
            }
            .app__controls__btn-prime:hover {
                box-shadow: $--text-gray-dark;
                background-color: $--text-gray-dark;
                color: $--txt-white;
            }
            .app__controls__btn-prime:active {
                box-shadow: transparent;
                background-color: $--text-gray-dark;
                color: $--txt-white;
            }
        }
    }

    .app__controls__progress {
        height: 10px;
        border-radius: 100px;
        background-image: linear-gradient(to right, #386ac7 1%, $--gray-body 1%);
        margin-bottom: 1rem;
    }
}
