@import 'assets/scss/_variables';

.resultCard {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 85%;
    @media screen and (max-width: 510px) {
        width: 100%;
    } /* iphone */
    .app-v {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: auto;
        .radio {
            display: flex;
            align-items: flex-start;
            position: relative;
            margin-bottom: 1.2rem;
            background-color: var(--gray-body);
            transition: all 0.2s;
            // font-size: 1.6rem;
            border-radius: 8px;
            box-shadow: var(--box-shadow);

            p {
                margin: 0;
            }
        }
        .radio:hover {
            background-color: var(--color-primary-1);
            color: var(--txt-white);
        }
        .radio:hover .checkmark {
            background-color: var(--color-primary);
        }
        .radio:active {
            background-color: var(--color-primary);
            box-shadow: var(--box-shadow-h);
        }
        .radio label {
            width: 100%;
            padding: 1.5rem 2rem 1.5rem 4rem;
            color: var(--txt-black);
        }
        .radio label:hover {
            color: var(--txt-white);
        }

        .number {
            width: 15%;
            font-size: 24px;
            font-weight: bold;
            color: var(--txt-black) !important;
        }
        .result {
            width: 90%;
            // padding: 0rem 2rem 0rem 4rem;
            color: var(--txt-black) !important;
            strong {
                font-size: 24px;
                color: #2ecc71;
            }
        }

        .btn-box {
            width: 100%;
            text-align: center;
            .done {
                font-size: 40px;
                font-weight: bold;
                border: 6px dashed $--color-primary;
                color: $--color-primary;
            }
            button {
                pointer-events: none;
                margin-top: 10px;
                width: 100%;
                height: 40px;
                color: $--txt-white;

                background-color: $--text-gray-dark;
                transition: all 0.2s;

                &:hover {
                    box-shadow: $--box-shadow;
                    background-color: $--color-primary-1;
                    color: $--txt-white;
                }
                &:active {
                    box-shadow: $--box-shadow-h;
                    background-color: $--color-primary-1;
                    color: $--txt-white;
                }
            }
            span {
                display: block;
                font-size: 14px;
                color: $danger;
                border: 1px dashed #fc3a3a;
                margin: 10px 0px;
                padding: 5px;
                text-align: left;
            }
            .disabled {
                pointer-events: all;
                background-color: $--color-primary;
            }
        }
    }
}
