@import 'assets/scss/_variables';

.loading {
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    color: $bg_color_bottom;
}
