@import 'assets/scss/_variables';

.tool {
    width: 100vw;
    background-color: $--gray-body;
    color: $--txt-gray;
    transition: all 1s;
    color: $black;

    .containter {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        height: auto;
    }

    .card {
        width: 600px;
        height: 100vh;
        /* padding: 3rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $--txt-white;
        // box-shadow: $--box-shadow;
        background: url('~assets/images/bg3.png') center center no-repeat;
        background-size: cover;
        @media screen and (max-width: 510px) {
            width: 100%;
        } /* iphone */
    }

    .inner {
        background: #ffffffe9;
        width: 80%;
        margin: 0 auto;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        @media screen and (max-width: 510px) {
            width: 90%;
            padding: 1.4rem;
        } /* iphone */
    }

    .s_logo,
    .logo {
        color: $--color-primary;
        font-size: 3.6rem;
        margin-bottom: 5rem;
    }
    .s_logo span,
    .logo span {
        color: $--txt-black;
        font-size: 1.8rem;
    }

    .inner .s_logo {
        margin-bottom: 0px;
    }

    .copy {
        color: $--txt-black;
        font-size: 0.8rem;
        text-align: center;
        @media screen and (max-width: 510px) {
            font-size: 0.7rem;
            // padding: 2rem;
        } /* iphone */
    }
}

.notification {
    background: $--popup;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    .inner_bg {
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
            min-width: 320px;
            width: 80%;
            height: calc(100vh - 60px);
            border-radius: 10px;
            background: $--txt-white;
            overflow: hidden;
            text-align: center;

            @media screen and (max-width: 510px) {
                width: 95%;
                height: calc(100vh - 30px);
                // padding: 2rem;
            } /* iphone */

            .title_c {
                width: 100%;
                border-bottom: 10px solid $--color-primary;
            }
            .title {
                height: 70px;
                line-height: 70px;
                color: #21a1a0;
                font-size: 1.5rem;
                font-weight: 700;
                // margin: 1.2rem auto;
            }
            .content {
                width: 90%;
                height: calc(100% - 70px - 110px - 10px);
                padding: 10px;
                margin: 0 auto;
                // background-color: #eff1f9;
                color: #9193b4;
                // border-radius: 20px;
                overflow-x: hidden;
                overflow-y: auto;
                .txt {
                    text-align: left;
                }
            }
            .btn_c {
                width: 90%;
                height: 110px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    strong {
        color: $--color-primary;
        // font-size: 1.4rem;
        // margin: 0 5px;
        border-bottom: 1px solid $--color-primary;
    }
}
